pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/src/gov/nist/junk/
/doc/pod-notes.txt
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
junk.clj
repl-port
leiningen.core.*
#*
.#*
#*#
*~
